@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }
}

.navbar {
    margin-bottom:20px;
}

.card {
    margin-bottom:20px;
}

.container {
    margin-top: 100px;
}

.alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 500ms;
}
